@media (max-width: 1750px) {
    .cooperate {
        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }
}

@media (max-width: 1700px) {
    .novelty{
        .slick-prev {
            left: 0;
        }
    
        .slick-next {
            right: 0;
        }
    }
    .catalog-preview{
        &__box{
            grid-template-columns: repeat(2, 1fr);
        }
        &__item{
            min-height: 350px;
            &--1{
                grid-column: 1/2;
                grid-row: 1/2;
                img{
                    max-width: 330px;
                    margin-top: 20px;
                }
            }
            &--5{
                grid-column: 1/2;
            }
        }
    }
}

@media (max-width: 1500px) {
    .headpresent {
        &__item {
            padding: 330px 80px;
        }

        &__slider-count {
            color: $white;
        }
    }
}

@media (max-width: 1250px) {
    .header {
        &__top-inner {
            max-width: 100%;
        }

        &__bottom-catalog {
            font-size: 10px;
            line-height: 12px;
        }
    }

    .headpresent {
        &__text {
            font-size: 34px;
            line-height: 120%;
            font-weight: 300;
            color: $white;
        }

        &__item {

            &--1 {
                background-position: 18% 0%;

                .headpresent__item-box {
                    max-width: 540px;
                    margin-right: auto;
                    margin-left: 0;
                }

                .headpresent__btn {
                    color: $white;
                    border: 2px solid $white;
                    background-color: transparent;
                }
            }
        }
    }

}

@media (max-width: 1000px) {
    .header {
        &__top {
            padding-top: 30px;
            position: absolute;
            left: 0;
            right: 0;
            top: 123px;
            bottom: 0;
            z-index: 4;

            font-size: 18px;
            line-height: 22px;
            transform: translateX(-100%);
            transition: all .3s;
            overflow-y: scroll;

            &.active {
                transform: translateY(0);
            }
        }

        &__top-container {
            flex-direction: column;
            justify-content: start;
        }

        &__top-inner {
            flex-direction: column;
        }

        &__top-menu {
            flex-direction: column;
        }

        &__top-menu-item {
            +.header__top-menu-item {
                margin-top: 20px;
            }
        }

        &__top-tel {
            max-width: 100%;
            margin-left: 0;
            text-align: left;
            margin-top: 30px;
        }

        &__top-map {
            margin-bottom: 30px;
        }

        &__desc {
            display: none;
        }

        &__top-menu {
            max-width: 100%;
        }

        &__top-menu-item {
            &--ghost {
                display: block;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    cursor: pointer;
                    right: 0;
                    top: 0;
                    width: 22px;
                    height: 22px;
                    background-image: url("../img/header/arrow-right.svg");
                    background-repeat: no-repeat;
                    transition: .3s;
                }

                &.active {
                    &::after {
                        transform: rotate(90deg);
                    }
                }
            }
        }

        &__mid-mobile {
            opacity: 1;
            pointer-events: all;
            max-width: 130px;
        }

        &__mid-move {
            max-width: 130px;
        }

        &__mid-moveitem {
            &--ghost {
                display: none;
            }
        }

        &__bottom {
            display: none;
        }
    }

    .headpresent {
        &__slider-count {
            display: none;
        }
    }

}
@media (max-width: 800px) {
    .catalog-preview{
        &__tags{
            display: none;
        }
        &__box{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__btn{
            max-width: 180px;
        }
        &__item{
            max-width: 200px;
            width: 100%;
            min-height: 270px;
            justify-content: end;
            &--1{
                img{
                    max-width: 180px;
                }
            }
        }
        &__img{
            max-width: 180px;
        }
    }
} 
@media (max-width: 700px) {
    .production {
        &__video-img {
            &--pc {
                display: none;
            }

            &--mobile {
                display: block;
            }
        }
    }
    .banner{
        &__link{
            margin: 0 auto;
            display: block;
            max-width: 335px;
        }
        &__img{
            &--pc{
                display: none;
            }
            &--mob{
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media(max-width: 650px) {
    .title {
        font-size: 23px;
        line-height: 120%;
        margin: 45px 0;
    }

    .headpresent {
        &__text {
            font-size: 26px;
            line-height: 110%;
        }

        &__item {
            padding: 330px 10px 0 10px;
            min-height: 600px;

            &--1 {
                background-image: url('../img/headpresent/item-mobile-1.jpg');
            }
        }

        &__btn {
            margin-top: 15px;
        }

        .slick-dots {
            button {
                width: 75px;
            }
        }
    }

    .treaty {
        margin-top: 80px;
    }

    .production {
        margin-top: 80px;
        &__text {
            font-size: 18px;
            line-height: 140%;
        }
    }
}

@media (max-width: 500px) {
    .header {
        &__top {
            padding-top: 30px;
            top: 60px;
        }

        &__mid-burger {
            margin-right: 0;
        }

        &__mid-mobile {
            max-width: 55px;
            justify-content: space-between;
        }

        &__mid-moveitem {
            +.header__mid-moveitem {
                margin-left: 0;
            }
        }

        &__mid-move {
            max-width: 55px;
            justify-content: space-between;
        }

        &__mid-logo {
            max-width: 63px;
            max-height: 45px;
        }

        &__mid-container {
            padding: 6px 10px;
            border-top: 3px solid $black;
        }
    }
    .novelty{
        .product-card{
            &__img{
                min-height: auto;
            }
        }
    }
    .catalog-preview{
        &__item{
            max-width: 130px;
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
            &--1{
                img{
                    max-width: 120px;
                }
            }
            &--11{
                display: none;
            }
        }
        &__img{
            max-width: 120px;
        }
        &__item-name{
            padding: 0;
            position: absolute;
            bottom: -30px;
            left: 0;
            top: auto;
            font-size: 13px;
            line-height: 20px;
        }
    }
}

@media (max-width: 400px) {
    .cooperate {
        &__item {
            width: 280px !important;
        }
    }
    .catalog-preview{
        &__btn{
            max-width: 100%;
            color: $black;
            background-color: $white;
            border: 2px solid $black;
            margin-top: 20px;
            padding: 8px 10px;
        }
    }
}

@media (max-height: 800px) and (min-width: 1000px) {
    .headpresent {
        &__item {
            padding: 210px 80px;
            min-height: 600px;
        }
    }
}