$white: #fff;
$black: #000;
$dark: #111;

%i-300 {
    font-family: Inter;
    font-weight: 300;
}

%i-400 {
    font-family: Inter;
    font-weight: 400;
}

%i-500 {
    font-family: Inter;
    font-weight: 500;
}

%i-600 {
    font-family: Inter;
    font-weight: 600;
}

%m-600 {
    font-family: Montserrat;
    font-weight: 600;
}