@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";


.header {

    text-transform: uppercase;

    &__top {
        padding: 12px 10px;
        font-size: 10px;
        line-height: 12px;
        color: $white;
        background-color: $black;
        @extend %i-600;
        display: flex;
        justify-content: space-between;
    }

    &__top-container {
        max-width: 1840px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    &__top-inner {
        max-width: 1050px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__top-map {
        padding-left: 15px;
        position: relative;
        text-transform: uppercase;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 12px;
            background-image: url('@img/header/map.svg');
            background-repeat: no-repeat;

        }
    }

    &__top-menu {
        display: flex;
        justify-content: space-between;
        max-width: 390px;
        width: 100%;
    }

    &__top-tel {
        margin-left: 20px;
        max-width: 110px;
        width: 100%;
        text-align: right;
    }


    &__top-menu-item {
        text-transform: uppercase;

        &--ghost {
            display: none;
        }
    }

    &__desc {
        text-transform: uppercase;
    }

    &__mid {
        z-index: 2;
        background-color: $white;
    }

    &__mobile-catalog {
        font-size: 15px;
        line-height: 16px;
        text-transform: uppercase;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
        pointer-events: none;
        transition: all .3s;

        &.active {
            opacity: 1;
            transform: translateX(0);
            padding: 20px 20px;
            max-height: 100%;
            pointer-events: all;
        }
    }

    &__mobile-catalogitem {
        +.header__mobile-catalogitem {
            margin-top: 10px;
        }
    }

    &__mid-container {
        max-width: 1840px;
        width: 100%;
        margin: 0 auto;
        padding: 18px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mid-mobile {
        opacity: 0;
        pointer-events: none;
        max-width: 400px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__mid-mobilesearch {
        position: relative;

        &.active {
            .header__mobilesearch-input {
                opacity: 1;
                z-index: 1;
            }

            .header__mobilesearch-submit {
                display: block;
            }

            .header__mobilesearch-btn {
                display: none;
            }
        }
    }

    &__mobilesearch-btn {
        cursor: pointer;
    }

    &__mobilesearch-input {
        max-width: 165px;
        padding: 5px 10px 5px 45px;
        outline: none;
        border-radius: 40px;
        position: absolute;
        right: -135px;
        top: -9px;
        opacity: 0;
        z-index: -1;
        transition: all .3s;
    }

    &__mobilesearch-submit {
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 2;
        display: none;
    }



    &__mid-moveitem {
        +.header__mid-moveitem {
            margin-left: 26px;
        }

        &--ghost {
            position: relative;

            &.active {
                .header__search-input {
                    opacity: 1;
                    z-index: 1;
                }

                .header__search-submit {
                    display: block;
                }

                .header__search-btn {
                    display: none;
                }
            }
        }
    }

    &__search-btn {
        cursor: pointer;
    }

    &__search-submit {
        background: none;
        box-shadow: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 2;
        display: none;
    }

    &__search-input {
        max-width: 170px;
        padding: 5px 45px 5px 10px;
        outline: none;
        border-radius: 40px;
        position: absolute;
        left: -135px;
        top: -9px;
        opacity: 0;
        z-index: -1;
        transition: all .3s;
    }

    &__mid-burger {
        margin-right: 26px;

        span {
            display: block;
            width: 20px;
            height: 10px;
            position: relative;
            cursor: pointer;

            &::before,
            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                background: $black;
                width: 100%;
                height: 1px;
                transition: all .3s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }
        }

        &.active {
            span {
                &::before {
                    transform: rotate(45deg) translateY(-50%);
                    top: 50%;
                }

                &::after {
                    transform: rotate(-45deg) translateY(50%);
                    bottom: 50%;
                }
            }
        }
    }

    &__mid-move {
        display: flex;
        justify-content: flex-end;
        max-width: 400px;
        width: 100%;
    }



    &__bottom-container {
        max-width: 1840px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px 13px 10px;
    }

    &__bottom-catalog {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        line-height: 16px;
        color: $dark;
        @extend %i-600;
    }

    &__bottom-item {
        text-transform: uppercase;
    }
}

.headpresent {

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 330px 215px;
        min-height: 800px;
        position: relative;

        &--1 {
            background-image: url('@img/headpresent/item-1.png');

            .headpresent__item-box {
                max-width: 540px;
                margin-left: auto;
            }
        }

        &--2 {
            background-image: url('@img/headpresent/item-2.jpg');

            .headpresent__item-box {
                max-width: 540px;
                margin-right: auto;
            }

            .headpresent__text {
                color: $white;
            }

            .headpresent__btn {
                color: $white;
                border: 2px solid $white;
                background-color: transparent;
            }

            .slick-arrow {
                svg {
                    path {
                        stroke: $white;
                    }
                }
            }
        }

        &--3 {
            background-image: url('@img/headpresent/item-3.jpg');

            .headpresent__item-box {
                max-width: 540px;
                margin-right: auto;
            }

            .headpresent__text {
                color: $white;
            }

            .headpresent__btn {
                color: $white;
                border: 2px solid $white;
                background-color: transparent;
            }

            .slick-arrow {
                svg {
                    path {
                        stroke: $white;
                    }
                }
            }
        }
    }

    &__text {
        font-size: 34px;
        line-height: 120%;
        @extend %i-300;
    }

    &__btn {
        margin-top: 40px;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        z-index: 2;
        cursor: pointer;

        svg {
            width: 33px;
            height: 17px;
        }
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .slick-dots {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 6px;
            line-height: 0;

            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }

        button {
            background: $white;
            opacity: 0.5;
            border: none;
            padding: 0;
            font-size: 0;
            width: 115px;
            height: 2px;
        }
    }

    &__slider-count {
        position: absolute;
        left: 63px;
        bottom: 12px;
        font-size: 13px;
        line-height: 130%;
        @extend %m-600;
    }

}

.cooperate {
    &__box {
        position: relative;
    }

    &__item {
        width: 310px !important;
        margin: 0 auto;
        height: 170px;
        background: #F3F3F3;
        border-radius: 10px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__img {
        margin: 0 auto;
    }

    .slick-arrow {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
        background: $white;
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }

    .slick-prev {
        left: -22px;
    }

    .slick-next {
        right: -22px;
    }

    .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 6px;
            line-height: 0;

            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }

        button {
            background: $dark;
            opacity: 0.3;
            border: none;
            padding: 0;
            font-size: 0;
            width: 14px;
            height: 2px;
        }
    }
}

.treaty {

    &__box {
        max-width: 1045px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        min-width: 0;
        text-align: center;
    }

    &__item-num {
        color: #BFBFBF;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
        display: block;
    }

    &__item-img {
        margin: 0 auto;
    }

    &__item-text {
        font-size: 22px;
        line-height: 27px;
        margin: 25px 0 45px;
    }

    &__item-btn {
        max-width: 216px;
        margin: 0 auto;
    }

    .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 6px;
            line-height: 0;

            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }

        button {
            background: $dark;
            opacity: 0.3;
            border: none;
            padding: 0;
            font-size: 0;
            width: 31px;
            height: 2px;
        }
    }
}

.production {

    &__text {
        @extend %i-300;
        font-size: 20px;
        line-height: 130%;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
    }

    &__video-link {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 83px;
            height: 83px;
            background-image: url('@img/production/play.svg');
            background-repeat: no-repeat;
            z-index: 2;
        }
    }

    &__video-img {
        &--mobile {
            display: none;
        }
    }
}

.novelty {
    &__box {
        display: flex;
        justify-content: space-between;

    }

    .slick-arrow {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
        background: $black;
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        cursor: pointer;
    }

    .slick-prev {
        left: -22px;
    }

    .slick-next {
        right: -22px;
    }

    .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 6px;
            line-height: 0;

            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }

        button {
            background: $dark;
            opacity: 0.3;
            border: none;
            padding: 0;
            font-size: 0;
            width: 18px;
            height: 2px;
        }
    }
}

.product-card {
    background: #F1F1F1;
    border-radius: 10px;
    min-width: 0;
    max-width: 390px;
    margin: 0 auto;
    display: block !important;
    padding: 25px;

    &__tags {
        @extend %i-600;
        color: $white;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 50px;
    }

    &__tag {
        display: inline-block;
        background-color: $black;
        margin-right: 5px;
        padding: 5px 3px;
        border-radius: 3px;
    }

    &__img {
        margin: 0 auto;
        max-width: 330px;
        width: 100%;
        min-height: 314px;
    }

    &__subtext {
        font-size: 12px;
        line-height: 15px;
        @extend %i-400;
        color: #9A9A9A;
        margin-top: 15px;
    }
}

.banner {
    margin-top: 120px;

    &__img {
        &--mob {
            display: none;
        }
    }
}

.catalog-preview {

    &__box {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 350px);
    }

    &__btn {
        margin: 45px auto 0;
        max-width: 310px;
    }

    &__item-name {
        font-size: 20px;
        line-height: 24px;
        @extend %i-400;
        position: absolute;
        left: 23px;
        top: 23px;
    }

    &__img {
        margin: 0 auto !important;
    }



    &__tags {
        position: absolute;
        bottom: 20px;
        left: 23px;
        right: 23px;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
    }

    &__tag {
        display: inline-block;
        margin-bottom: 5px;
        background-color: $black;
        color: $white;
        font-size: 13px;
        line-height: 16px;
        border-radius: 2px;
        padding: 5px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__item {
        background: #F1F1F1;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item--1 {
        grid-column: 1/3;
        grid-row: 1/3;

        img {
            margin-top: 70px;
        }
    }

    &__item--2 {
        img {
            margin-top: 20px;
        }
    }

    &__item--4 {
        img {
            margin-top: 25px;
        }
    }

    &__item--5 {
        grid-column: 3/5;
    }

    &__item--6 {
        img {
            margin-top: -20px;
        }
    }

    &__item--8 {
        img {
            margin-top: -10px;
        }
    }

    &__item--9 {
        img {
            margin-top: 40px;
        }
    }

    &__item--11 {
        img {
            margin-top: 30px;
        }
    }
}

.map-tabs {

    &__nav {
        text-align: center;
        margin-bottom: 25px;
    }

    &__nav-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0 8px;
        font-size: 24px;
        line-height: 29px;
        @extend %i-300;
        cursor: pointer;

        &.active {
            @extend %i-500;
            border-bottom: 2px solid $black;
        }
    }

    &__content-item {
        display: none;

        &.active {
            display: block;
        }
    }
}

.news {
    &__inner {
        position: relative;
    }

    &__link {
        position: absolute;
        top: 32px;
        right: 0;
        padding-right: 40px;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 33px;
            height: 14px;
            background-image: url('@img/news/after-link.svg');
            background-repeat: no-repeat;
        }
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 50px 10px;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item-link {
        height: 100%;
    }

    &__item--1 {
        grid-column: 1/3;
        grid-row: 1/3;
        position: relative;

        .news__info {
            position: absolute;
            left: 20px;
            bottom: 30px;
            color: $white;
        }

        .news__img {
            height: 100%;
        }
    }

    &__date {
        font-size: 12px;
        line-height: 15px;
        margin-top: 5px;
    }

    &__text {
        font-size: 14px;
        line-height: 140%;
        margin-top: 5px;
    }

    &__btn {
        display: none;
        margin: 30px auto 0;
        background: $white;
        color: $black;
        border: 3px solid $black;
    }

    .slick-arrow {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
        background: $white;
        border: none;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        position: absolute;
        top: 47%;
        transform: translateY(-100%);
        z-index: 3;
        cursor: pointer;
    }

    .slick-prev {
        left: 0px;
    }

    .slick-next {
        right: 0px;
    }

    .slick-dots {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;

        li {
            margin: 0 6px;
            line-height: 0;

            &.slick-active {
                button {
                    opacity: 1;
                }
            }
        }

        button {
            background: $dark;
            opacity: 0.3;
            border: none;
            padding: 0;
            font-size: 0;
            width: 40px;
            height: 2px;
        }
    }
}

.footer {
    margin-top: 170px;
    background-color: $black;
    color: $white;
    padding: 54px 0 64px;
    font-size: 10px;
    line-height: 12px;
    @extend %i-600;

    &__container {
        max-width: 1840px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__left-box {
        max-width: 400px;
        width: 100%;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }

    &__copy {
        margin-top: 60px;
    }

    &__adress {
        span {
            display: none;
        }
    }

    &__social-list {
        span {
            display: none;
        }

        display: flex;
        justify-content: space-between;
        max-width: 100px;
        margin-top: 60px;
    }

    &__social-img {
        fill: $white;
        stroke: $white;
    }

    &__right-box {
        text-align: right;
    }

    &__tels {
        font-size: 13px;
        line-height: 16px;
    }

    &__tel-item {
        margin-left: 20px;
    }

    &__mail {
        margin-top: 60px;
        display: inline-block;
    }
}

.catalog {

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__filter {
        max-width: 285px;
        flex-shrink: 0;
        margin-right: 20px;
    }

    &__close-btn {
        padding: 20px;
        width: 20px;
        height: 20px;
        background-image: url('@img/catalog/close.svg');
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 20px;
        top: 0;
        cursor: pointer;
        z-index: 2;
        display: none;
    }

    &__mobile-filter {
        font-size: 15px;
        cursor: pointer;
        display: none;

        img {
            display: inline-block;
        }
    }

    &__spoiler-inner {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        will-change: max-height;
        transition: all .5s ease-out;

        &.active {
            padding-bottom: 45px;
            opacity: 1;
            max-height: 100%;
        }
    }

    &__checkbox-name {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 25px;
        padding-left: 20px;
        position: relative;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 4px;
            width: 10px;
            height: 10px;
            background-image: url('@img/catalog/spoiler-btn.svg');
            background-repeat: no-repeat;
            transition: all .2s linear;
        }

        &.active {
            &::before {
                transform: rotate(90deg);
            }
        }
    }

    &__checkbox-wrapper {
        position: relative;

        +.catalog__checkbox-wrapper {
            margin-top: 10px;
        }
    }

    &__checkbox-input {
        appearance: none;
        position: absolute;

        &:checked {
            +.catalog__checkbox-label::after {
                opacity: 1;
            }
        }
    }

    &__checkbox-label {
        font-size: 15px;
        color: #787878;
        padding-left: 40px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            z-index: 1;
            display: block;
            width: 25px;
            height: 25px;
            border: 2px solid #F8CE6E;
            border-radius: 2px;
        }

        &::after {
            content: '';
            display: block;
            width: 25px;
            height: 25px;
            background: url('@img/catalog/checked.svg') no-repeat;
            position: absolute;
            top: 3px;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: all .3s;
        }
    }

    &__range {
        max-width: 290px;

        &.active {
            .catalog__spoiler-inner {
                opacity: 1;
                padding-bottom: 45px;
            }
        }
    }


    &__range-input {
        border: 2px solid #111111;
        border-radius: 4px;
        padding: 14px;
        font-size: 18px;
        line-height: 22px;
        max-width: 120px;

        &::placeholder {
            font-size: 18px;
            line-height: 22px;
            color: $black;
        }
    }

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]:hover,
    input[type="number"]:focus {
        -moz-appearance: number-input;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &__range-inputs {
        margin-bottom: 25px;
    }

    &__range-slider {
        max-width: 250px;
        padding-left: 10px;
    }

    &__range-dash {
        display: inline-block;
        margin: 0 0 7px;
    }

    .noUi-horizontal {
        height: 5px;
    }

    .noUi-target {
        background: rgba($black, 0.1);
        border-radius: 4px;
        border: none;
        box-shadow: none;
    }

    .noUi-connect {
        background: $black;
    }

    .noUi-horizontal .noUi-handle {
        width: 26px;
        height: 26px;
        right: -17px;
        top: -10px;
    }

    .noUi-handle {
        border: 4px solid $black;
        border-radius: 50%;
        background: #FFF;
        cursor: pointer;
        box-shadow: none;

        &::before,
        &::after {
            display: none;
        }
    }

    &__filter-btn {
        display: block;
        max-width: 100%;
        width: 100%;
        background-color: transparent;
        border: 2px solid #BFC2CA;
        border-radius: 4px;
        padding: 15px 0;
        margin-bottom: 15px;
        font-size: 15px;
        text-align: center;
        color: #74777E;
        cursor: pointer;
    }

    &__goods {
        max-width: 1270px;
        width: 100%;
    }

    &__categories {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #787878;
        display: flex;
    }

    &__categories-item {
        display: flex;
        align-items: center;

        +.catalog__categories-item {
            margin-left: 70px;
        }
    }

    &__categories-name {
        margin-left: 15px;
    }

    &__sorting {
        padding: 35px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .choices {
            display: inline-block;


            &__inner {
                border: none;
                padding-top: 9px;
                padding-left: 5px;
            }

            &__item {
                @extend %i-500;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                color: $dark;
            }
        }

        .choices__list--dropdown .choices__item,
        .choices__list[aria-expanded] .choices__item {
            padding: 10px;
            font-size: 15px;
            line-height: 18px;
        }

        .choices__list--dropdown .choices__item--selectable,
        .choices__list[aria-expanded] .choices__item--selectable {
            padding-right: 0;
            text-decoration: none;
        }

        .choices__list--dropdown,
        .choices__list[aria-expanded] {
            border: none;
        }

        .choices__list--dropdown .choices__item--selectable.is-highlighted,
        .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
            background-color: #f2f2f2;
        }

        .choices__item--selectable {
            text-decoration: underline;
        }

        .choices[data-type*=select-one]::after {
            content: "";
            height: 8px;
            width: 8px;
            border-style: none;
            border-color: $dark;
            border-width: 1.4px;
            border-right: 1.4px solid $dark;
            border-top: 1.4px solid $dark;
            position: absolute;
            right: 4.5px;
            top: 44%;
            margin-top: -2.5px;
            pointer-events: none;
            transform: rotate(135deg);
        }

        .choices__list {
            width: 130%;
        }
    }

    &__amount {
        font-size: 15px;
        line-height: 18px;
    }

    &__sorting-selectbox {
        min-width: 300px;
        display: flex;
        align-items: center;
        color: $dark;
        font-size: 15px;
        line-height: 18px;
    }

    &__tabs {
        display: flex;
        font-size: 15px;
        line-height: 18px;
    }

    &__tabs-btn {
        cursor: pointer;
        margin-left: 10px;
        background-color: transparent;
        border: none;
        padding: 0;

        &.active {
            text-decoration: underline;
            font-weight: 600;
        }
    }

    &__box {
        display: none;

        &.active {
            display: block;
        }
    }

    &__box-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px 10px;
    }

    &__good-item {
        max-width: 310px;

        &:nth-child(n+13) {
            display: none;
        }

        &.is-visible {
            display: block;
        }
    }

    &__good-wrapper {
        min-height: 380px;
        background: #F1F1F1;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__good-tags {
        position: absolute;
        left: 24px;
        top: 22px;
        font-size: 13px;
        line-height: 16px;
        color: $white;
    }

    &__good-tag {
        background-color: $black;
        border-radius: 2px;
        padding: 4px;
    }

    &__good-discount {
        position: absolute;
        right: 0;
        bottom: 45px;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        color: $white;
        background-color: $black;
        padding: 4px;
    }

    &__good-name {
        font-size: 16px;
        line-height: 19px;
        margin: 14px 0;
    }

    &__good-price {
        display: flex;
        align-items: flex-end;
    }

    &__good-price--old {
        font-size: 12px;
        line-height: 20px;
        text-decoration-line: line-through;
        color: #A09E9E;
        margin-left: 10px;
    }

    &__show-more {
        background-color: transparent;
        border: 2px solid $dark;
        border-radius: 3px;
        font-size: 15px;
        line-height: 15px;
        padding: 15px 70px;
        cursor: pointer;
    }

    &__box-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 45px;
    }

    &__pagination {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 330px;
        font-size: 15px;
        line-height: 268%;
        color: $dark;
    }

    &__pagination-btn {
        padding: 0 16px;

        &.active {
            border: 2px solid $dark;
            border-radius: 3px;
        }
    }

    &__pagination-btn--prev {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            border-left: 1.4px solid $dark;
            border-top: 1.4px solid $dark;
            transform: translateY(-50%) rotate(-45deg);
            width: 6px;
            height: 6px;
        }
    }

    &__pagination-btn--next {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            border-left: 1.4px solid $dark;
            border-top: 1.4px solid $dark;
            transform: translateY(-50%) rotate(135deg);
            width: 6px;
            height: 6px;
        }
    }

    &__goods-current {
        font-size: 15px;
        line-height: 18px;
        text-align: right;
        color: $dark;
    }

}






@import "media";